@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: black;
  color: white;
  font-weight: bold;
}

#postMessageContainer {
  display: none;
}

#loggedInAs img {
  width: 100px;
}

#displayUsernames {
  width: 100px;
  background-color: rgb(33, 53, 3);
  margin-top: 20px;
}

#profileInfoContainer {
  color: white;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#profileInfoContainer .test {
  display: none !important;
}

#profileIMG {
  width: 50px;
}

#users {
  font-size: 25px;
  font-weight: 600;
  color: rgb(126, 142, 87);
}

#connectionErrorMsg {
  color: red;
  font-weight: bolder;
}

#statusUpdatesContainer {
  text-align: center;
  border: 30px outset orangered;
  border-radius: 0px 40px 0px 40px;
  margin-top: 15px;
}

#deleteAccBtn,
#displayUsernames,
#statusUpdatesContainer {
  display: none;
}

#messagesForUser {
  color: greenyellow;
}
